<div class="row w-100">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>{{post.summary}}</p>
    <p>{{post.author.username}}</p>
  </div>
</div>
<form action="/posts/{{post._id}}/comments" method="post" class="w-100">
  <textarea class='form-control' name="content" placeholder="Comment"></textarea>
  <div class="text-right">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{{#each post.comments}}
  <p class="w-100">{{this.content}} </p>
  <p class="text-right w-100">{{this.author.username}}</p>
{{/each}}